<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Corona</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age" placeholder="Age" required="required" />
        <input type="text" name="gender" placeholder="Gender" required="required" />
		<input type="text" name="fever" placeholder="Fever" required="required" />
		<input type="text" name="d" placeholder="4" required="required" />
		<input type="text" name="e" placeholder="5" required="required" />
		<input type="text" name="f" placeholder="6" required="required" />
		<input type="text" name="g" placeholder="7" required="required" />
		<input type="text" name="h" placeholder="8" required="required" />
		<input type="text" name="i" placeholder="9" required="required" />
		<input type="text" name="j" placeholder="10" required="required" />
		<input type="text" name="k" placeholder="11" required="required" />
		<input type="text" name="l" placeholder="12" required="required" />
		<input type="text" name="m" placeholder="13" required="required" />
		<input type="text" name="n" placeholder="14" required="required" />
		<input type="text" name="o" placeholder="15" required="required" />
		<input type="text" name="q" placeholder="16" required="required" />
		<input type="text" name="r" placeholder="17" required="required" />
		<input type="text" name="s" placeholder="18" required="required" />
		<input type="text" name="t" placeholder="19" required="required" />
		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>